body {
    background-image: url("../images/cloudy-day.png");
    width: 100%;
    height: 100%;
    
}

header {
    background-color: lightslategray;
    opacity: .75;
    color: black;
}   
.main-box {
    background-color: lightslategray;
    opacity: .75;
}
.title {
    font-family: 'Cabin Sketch';
    font-size: 48pt;
    color: black;
    opacity: 1;
}
.miny-text {
    font-style: italic;
}
.card {
    width: 275px;
    margin: 15px;
    border: 4px solid white;
}

.hp {
    font-family: "Lobster";
    font-size: 25pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-text {
    font-family: "Lobster";
    font-size: 30pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fight {
    font-family: "Lobster";
    font-size: 50pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lost {
    font-family: "Lobster";
    font-size: 80pt;
    color: black;
    background-color: red;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    
}
.winner {
    font-family: "Lobster";
    font-size: 30pt;
    color: black;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    text-align: center;
}
.winner-card {
    background-color: green;
    font-size: 80pt;
}
