body {
    background-image: url("../images/alley.jpg");
    width: 100%;
    height: 100%;
}

header {
    background-color: lightslategray;
    opacity: .75;
    color: black;
}   
.main-box {
    background-color: lightslategray;
    opacity: .75;
}
.title {
    font-family: 'Cabin Sketch';
    font-size: 48pt;
    color: black;
    opacity: 1;
}
.miny-text {
    font-style: italic;
}
.fighter {
    width: 275px;
    margin: 15px;
}

.hp {
    font-family: "Lobster";
    font-size: 25pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-text {
    font-family: "Lobster";
    font-size: 30pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fight {
    font-family: "Lobster";
    font-size: 50pt;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lost {
    font-family: "Lobster";
    font-size: 80pt;
    color: red;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}
